{% extends 'indexBase.html' %}
{% load static %}
{% block conteudo %}

<body class="hold-transition skin-blue sidebar-mini">
<!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                     <div class="form-group">
                        <label class="col-sm-2 control-label">Selecione os Planos</label>
                        <form action="{% url 'listar_planos_site' %}" method="post" >
                        {% csrf_token %}
                        <div class="col-sm-4">
                            <div class="form-group">
                           <select id="plano" name="plano" class="form-control select2" multiple="multiple" data-placeholder="Selecione" style="width: 100%;" >
                               {% for plano in planos %}
                              <option value="{{plano.id}}">{{plano.nome}}</option>
                              {% endfor %}
                            </select>
                            </div>

                        </div>
                         <div class="col-sm-1">
                            <div class="input-group input-group-sm">
                             <div class="input-group-btn">
                                <input type="submit" class="btn btn-primary" value="Buscar"> </input>
                            </div>
                            </div>
                         </div>
                         </form>
                     </div>
                </div>
            </div>
        </div>
      </div>


        {% block planos %}



        {% endblock planos %}
    </section>


{% endblock conteudo %}